/project/target/scala-2.12/sbt-1.0/resolution-cache/default/vqs-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.properties
/project/target/scala-2.12/sbt-1.0/resolution-cache/default/vqs-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-compile.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-compile-internal.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-optional.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-plugin.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-pom.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-provided.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-runtime.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-runtime-internal.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-scala-tool.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-test.xml
/project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-vqs-build-test-internal.xml
/project/target/streams/compile/dependencyClasspath/$global/streams/export
/project/target/streams/compile/externalDependencyClasspath/$global/streams/export
/project/target/streams/compile/managedClasspath/$global/streams/export
/project/target/streams/runtime/dependencyClasspath/$global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/$global/streams/export
/project/target/streams/runtime/fullClasspath/$global/streams/export
/project/target/streams/runtime/managedClasspath/$global/streams/export
/project/target/streams/$global/update/$global/streams/update_cache_2.12/output
/project/target/streams/$global/update/$global/streams/out
/vqsimages/
